
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --dark-color : #006568;
    --light-color : #29979A;
    --bg-color : #FFF7DE;
    --text-dark : #002D2F;
    --text-medium : #005255;
    --text-light : #FFF7DD;
}

body>img{
    /* background: url(./bg.png); */
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
}
/* navbar start */
.navbar{
    z-index: 999;
    position: sticky;
    margin: 0 10vw 0 10vw;
    top: 0;
    width: 80vw;
    border-bottom: 1px solid var(--text-dark);
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 70px;
    backdrop-filter: blur(100px);
}
.navbar .nav-links ul{
    display: flex;
    align-items: center;
    gap: 20px;
}
.navbar .nav-links ul li{
    list-style: none;
    font-family: "Amarante", serif;
    font-weight: 500;
    letter-spacing: 2px;
    font-size: 18px;
}
.navbar .nav-links ul li a{
    text-decoration: none;
    color: var(--text-dark);
}
.navbar .logo {
    margin-left: 25px;
}
.navbar .logo .text-portfolio{
    font-family: "Fleur De Leah", cursive;
    font-size: 45px;
    font-weight: 700;
}
.navbar .btn-wrap{
    margin-right: 25px;
}
.navbar .btn-wrap .btn-nav{
    background-color: var(--dark-color);
    border: 1px solid var(--text-dark);
    padding: 10px 18px;
    border-radius: 2rem;
    color: var(--text-light);
    font-family: "Amarante", serif;
    font-size: 15px;
    letter-spacing: 3px;
}
.navbar .toggler{
    display: none;
}
/* navbar end */


/* hero section start */
.wrapper{
    display: flex;
}
.wrapper .left-wrapper{
    /* border: 1px solid var(--text-dark); */
    width: 60%;
    height: 90vh;
}
.wrapper .left-wrapper .top-section{
    /* background-color: aqua; */
    display: flex;
    justify-content: end;
    align-items: center;
    height: 60%;

}
.wrapper .left-wrapper .top-section .right-text{
    /* border: 1px solid black; */
    height: 100%;
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 48px;
    
}
.wrapper .left-wrapper .top-section .right-text p{
    color: var(--text-medium);
    font-size: 65px;
    font-family: "Aboreto", system-ui;
    /* background-color: aliceblue; */
}
.wrapper .left-wrapper .top-section .right-text .tag-line{
    /* border: 1px solid black; */
    width: 100%;
    color: var(--text-medium);
    font-size: 25px;
    align-items: center;
    font-family: "Amarante", serif;
    display: flex;
    justify-content: end;
}
.wrapper .left-wrapper .top-section .right-text .tag-line span{
    letter-spacing: 3px;
}
.wrapper .left-wrapper .name-desgination{
    height: 40%;
    /* background-color: aquamarine; */
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: end;
}
.wrapper .left-wrapper .name-desgination .name-div{
    margin: 15px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}
.wrapper .left-wrapper .name-desgination .name-div span{
    font-family: "Rouge Script", cursive;
    font-size: 70px;
    letter-spacing: 7px;
    font-weight: 500;
}
.wrapper .left-wrapper .name-desgination .designation-div{
    margin: 0 15px;
}
.wrapper .left-wrapper .name-desgination .designation-div span{
    /* border: 1px solid black; */
    font-family: "Orbitron", sans-serif;
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: 600;
}
.wrapper .right-wrapper{
    width: 40%;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.wrapper .right-wrapper img{
    width: 80%;
    object-fit: cover;

}

/* hero section end */

/* journey section start */
.about-div{
    margin:0 2.5vw;
    height: 100vh;
    width: 95vw;
    border: 1px solid var(--text-dark);
}
.about-div .up-div{
    width: 100%;
    height: 50%;
    /* border: 1px solid black; */
}
.about-div .up-div .text-field{
    /* background-color: aqua; */
    height: 25%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}
.about-div .up-div .text-field h3{
    font-size: 40px;
    font-family: "Aboreto", system-ui;
    letter-spacing: 2px;
    border-bottom: 2px solid black;
    margin: 20px 0 0 30px;
}
.about-div .up-div .text-field span{
    margin: 20px 0 0 60px;
    font-size: 20px;
    font-family: "Aboreto", system-ui;
}
.about-div .up-div .box-field{
    height: 75%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.about-div .up-div .box-field .box-about{
    /* border: 1px solid black; */
    min-width: 300px;
    min-height: 210px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.about-div .up-div .box-field .box-about .num{
    font-family: "Aboreto", system-ui;
    font-weight: 900;
    font-size: 50px;
    text-align: center;
}
.about-div .up-div .box-field .box-about .text{
    font-family: "Aboreto", system-ui;
    font-weight: 500;
    font-size: 15px;
    text-align: center;
}
/* ---------------------------------------------- */
.about-div .low-div{
    width: 100%;
    height: 50%;
    /* border: 1px solid black; */
}
.about-div .low-div .text-field{
    /* background-color: aqua; */
    height: 25%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}
.about-div .low-div .text-field h3{
    font-size: 40px;
    font-family: "Aboreto", system-ui;
    letter-spacing: 2px;
    border-bottom: 2px solid black;
    margin: 20px 30px 0 auto;
}
.about-div .low-div .box-field{
    height: 75%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.about-div .low-div .box-field .box-about{
    /* border: 1px solid black; */
    min-width: 300px;
    min-height: 210px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.about-div .low-div .box-field .box-about .num{
    font-family: "Aboreto", system-ui;
    font-weight: 900;
    font-size: 50px;
    text-align: center;
}
.about-div .low-div .box-field .box-about .text{
    font-family: "Aboreto", system-ui;
    font-weight: 500;
    font-size: 15px;
    text-align: center;
}
/* journey section end */